Source: kcheckgmail
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Raphael Geissert <atomo64@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, kdelibs4-dev, libqt3-mt-dev, autoconf
Standards-Version: 3.7.3
Homepage: http://kcheckgmail.sourceforge.net/
Vcs-Git:    git://git.debian.org/git/pkg-kde/kde-extras/kcheckgmail.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/kcheckgmail.git;a=summary

Package: kcheckgmail
Architecture: any
Depends: kdebase-bin (>= 3.4), ${shlibs:Depends}, ${misc:Depends}
Description: A Gmail notifier-like notifier for KDE
 KCheckGMail is a KDE systray application which checks Gmail accounts for
 new mail.
 .
 Some features include:
  * New email notifications displaying message subject.
  * Customisable check interval, web browser and more.
  * Support for gmail's simple (pure HTML) and full interfaces.
  * Customisable search.
  * KWallet support.
