[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcheckgmail
Icon=kcheckgmail
Name=KCheckGmail
Name[it]=KCheckGmail
Name[es]=KCheckGmail
Comment=A Kicker applet to display how many email messages you have in your Gmail account.
Comment[it]=Un applet del pannello per visualizzare quanti messaggi sono contenuti nel tuo account Gmail.
Comment[es]=Applet para kicker que muestra cuántos mensajes nuevos hay en su cuenta de Gmail.
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network

